div .myheading{
    background-image: url('../assets/img/morty.png');
    background-size: 10cm 5cm;
    margin: 10px;
    margin-left: 0.5cm;
    width: 10cm;
    height: 5cm;
    border: 1px solid blue;
    border-radius: 10px;
}

.myheading p {
    /* color: white; */
    padding: 10px;
}

/* .myheading input{
    margin-left: 10px;
} */

/* .myheading div {
    padding-top: 10px;
    padding-left: 10px;
} */
    
div .contact{
    margin: 10px;
    width: 10cm;
    border: 1px solid cyan;
    border-radius: 10px;
}

.contact h1, input, h3{
    margin: 10px;
}

div .about1{
    background-image: url('C://Users/ASUS/Pictures/Screenshots/saitama.png');
    background-size: 10cm;
    margin: 10px;
    width: 10cm;
    height: 5cm;
    border: 1px solid green;
    border-radius: 10px;
}

div .about3{
    /* background-image: url('C://Users/ASUS/Pictures/Screenshots/saitama.png'); */
    /* background-size: 10cm; */
    margin: 10px;
    width: 10cm;
    height: 2cm;
    border: 1px solid green;
    border-radius: 10px;
}

div .about2{
    background-size: 10cm;
    margin: 10px;
    width: 10cm;
    height: 5cm;
    border: 1px solid green;
    border-radius: 10px;
}

.about2 p {
    /* color: white; */
    margin: 10px;
}

.contact label, p, h2{
    margin: 10px;
}

div .card{
    background-image: url('C://Users/ASUS/Pictures/Screenshots/eric.png');
    color: white;
    background-size: 8cm;
    border: 1px solid black;
    border-radius: 10px;
}